<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding" contract="GeoLib.Contracts.IGeoService" name="tcpEp" />
      <endpoint address="http://localhost:8010/GeoService" binding="basicHttpBinding" contract="GeoLib.Contracts.IGeoService" name="httpEp"/>
      <endpoint address="net.tcp://localhost:8011/MessageService" binding ="netTcpBinding" contract="GeoLib.Client.Contracts.IMessageService"/>
    </client>
    
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
