<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
        bindingConfiguration="cristina" contract="GeoLib.Proxies.IGeoService"
        name="tcpEp" />
      <endpoint address="net.tcp://localhost:8011/MessageService" binding="netTcpBinding"
        contract="GeoLib.Client.Contracts.IMessageService" />
      <endpoint address="net.tcp://localhost:8009/StatefulGeoService" binding="netTcpBinding" contract="GeoLib.Contracts.IStatefulGeoService"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="cristina" receiveTimeout="00:20:00" sendTimeout="00:01:00"
          maxReceivedMessageSize="2000000" transactionFlow="true">
          <reliableSession inactivityTimeout="00:10:00" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
